<div class="card-body">
    <div class="card text-center">
        <div class="card-header display-4">
            {{ componentTitle }}
        </div>
        <div class="card-body">
            <h4 class="card-title">Systems Used:</h4>
        <!-- <h2 class="card-title">{{title}}</h2> -->
                <p>Main OS: {{ primaryOS }}</p>
                <p>Secondary OS: {{ secondaryOS }}</p>
                <p>IDE: {{ ide }}</p>
        </div>
    </div>
</div>
<!-- <div class="card-body text-center">
</div> -->

<!-- <div class="container-inside">
        <div class=" vertical-center"  >
            <h2 class="card-title">{{title}}</h2>
            <p>Main OS: {{ primaryOS }}</p>
            <p>Secondary OS: {{ secondaryOS }}</p>
            <p>IDE: {{ ide }}</p>
        </div> 
    </div> -->
