<div class="card-body">
    <div class="card text-center">
        <div class="card-header display-4">
            {{ componentTitle }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" *ngIf="destinations && destinations.length" >
            <thead>
                <tr>
                    <th style="width:10%">Code</th>
                    <th style="width:20%">City</th>
                    <th style="width:35%">Description</th>
                    <th style="width:20%; text-align: center;">Rating</th>
                    <th style="width:15%;" ></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let destination of destinations"
                    [ngSwitch]="destination.RatingType">
                    
                    <td><button class="btn btn-primary btn-block" (click)="codeSelected(destination.AirportCode); isOn=true">{{ destination.AirportCode }}</button></td>
                    <td>{{ destination.City }}</td>
                    <td>{{ destination.Description }}</td>
                    <!-- <td>{{ destination.Rating }} -->
                    <td>
                       <div *ngSwitchCase="'snowflake'">
                           <div *ngFor="let n of destination.RatingIcons; let i = index;">
                            <span class="inline-block padding-right: 10px; float-right">
                            <i class="fa fa-snowflake-o icon-padding" aria-hidden="true"></i>
                            </span>
                           </div>
                       </div>                         
                       <div *ngSwitchCase="'thermometer'">
                        <div *ngFor="let n of destination.RatingIcons; let i = index;">
                            <span class="inline-block padding-right: 10px; float-right">
                            <i class="fa fa-thermometer-full icon-padding"  aria-hidden="true"></i>
                            </span>
                           </div>
                         
                       </div>
                    </td>
                    <td>
                        <img [src]="destination.imageUrl"
                            [title]="destination.Name"
                            class="thumbnailImg">
                    </td>
                </tr>
                
                    <tr>
                        <td colspan="5">
                            <app-travel-request *ngIf="isOn" (cancelFormEvent)="toggleRequestForm($event)" [toggleCardHeader]="false"></app-travel-request>
                            <!-- <div *ngIf="isOn">On</div>
                            <div *ngIf="!isOn">Off</div> -->
                        </td>
                    </tr>
                
            </tbody>
        </table>

    </div>
</div>