<!-- <div class="container min-vh-100 min-vw-100"> -->
<div class="container h-100 w-100">
  <div class="card h-100">

  <!-- Navigation -->
  <nav class="navbar navbar-expand navbar-dark bg-dark ">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['home']">YouNoGo</a>    
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['destinations']">Destinations</a>    
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['travel-request']">Travel Reqeust</a>    
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['about']">About</a>
    </div>
  </nav>

  <!-- Main Content -->
  <router-outlet></router-outlet>

  <!-- Footer Content -->
  <div class="card-footer text-center">
    <div class="companyLogo">YouNoGo Travel &reg;</div> 
    <div class="courseMoniker">Eric Haerr <br/>
    CSC 436 Web Applications</div>
  </div>

  </div>
</div>

