.companyLogo{
    font-family: URW Chancery L, cursive;
}
.courseMoniker{
    font-size: small;
}
.thumbnailImg{
    width: 15%;
    height: 5%;
}
table{
    table-layout: fixed;
}
.border {
    border-width:3px !important;
}
.icon-padding{
    padding-right: .5em;
}
